{% extends 'base.html.twig' %}

{% block title %}Mes annonces Voitures{% endblock %}

{% block body %}

<div class="container mt-4">
    <h1>Mes annonces de voitures</h1>

    {# read and display just one flash message type #}
    {% for message in app.flashes('success') %}
      <div class="alert alert-success mt-4">
          {{ message }}
      </div>
    {% endfor %}


    {% if cars is not empty %}

            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">ID voiture</th>
                    <th scope="col">Nom voiture</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Date création</th>

                  </tr>
                </thead>
                <tbody>
                {% for car in cars %}
                  <tr class="table-primary">
                    <th scope="row">{{ car.id }}</th>
                    <td>{{ car.name }}</td>
                    <td>{{ car.price }}</td>
                    <td>{{ car.dateCreated|date('d/m/Y') }}</td>
                    <td><a href="#"><button type="button" class="btn btn-success">edit</button></a></td>
                    <td><a href="#" onclick="return confirm('Voulez-vous vraiment supprimer cette voiture ?')"><button type="button" class="btn btn-danger">delete</button></a></td>

                  </tr>
                {% endfor %}
                </tbody>
              </table>

            {# display navigation #}
{#             <div class="navigation">
                {{ knp_pagination_render(ingredients) }}
            </div> #}
{% else %}
<p>Aucune voitures</p>
{% endif %}
</div>
{% endblock %}
